{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет!</h1>
  <p>
    Меня зовут Никита. Я родом из города Рязань, но на данный момент живу и работаю в Москве.
    По образованию и профессии  я инженер-строитель. Программированием увлекся где-то год назад,
    планирую перейти полностью в эту сферу. 
  </p>
  <p>
    Ссылка на мой аккаунт в Github:
    <a href="https://github.com/Astaforkin/">
        https://github.com/Astaforkin
    </a>
  </p>
{% endblock %}